@import url("https://blog.hatena.ne.jp/-/theme/17391345971624603155.css");

/* 変数 */
:root {
    --primary-color : #6CC04A;  /* light green */
}

body {
    background  : #6CC04A;
    font-family : "Noto Sans JP", Helvetica, "メイリオ", Meiryo, sans-serif;
    font-size   : 18px;
}

img {margin-top: 50px;}

blockquote, .hatena-asin-detail {background:#FDFAEC;}

pre.code {
    margin-bottom: 75px;
    background : #1c1c1c;
    font-size  : 16px;
    color      : white;
    border-radius: 4px;
}

pre.code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

pre.code::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

pre.code::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 5px;
}

pre.code::-webkit-scrollbar-corner {
  display: none;
}

.entry-content p {
    font-size: 16px;
    margin-bottom: 35px;
}

/* PROバッチを非表示 */
i.badge-type-pro {display:none;}

#title {
    font-family : "Noto Sans JP", Helvetica, "メイリオ", Meiryo, sans-serif;
    font-size   : 250%;
}

/* Raspberry Pi のロゴを追加 */
#title a::before {
    content: "\f7bb"; /* Raspberry Pi logo */
    font-family: "Font Awesome 5 Brands";
    color: #c51a4a;
    font-size: 150%;
}

#blog-description {
    font-size : 100%;
}

#blog-title {
    font-family: 'Noto Sans JP';
}

.entry-content h3, .categories a, .hatena-module-category .hatena-urllist li a, a.entry-see-more {
    background : #6CC04A;
}

a, .leave-comment-title, .hatena-module-title, .hatena-module-title a, .sns-twitter, .sns-facebook, .sns-bookmark, a.sns-bookmark:visited, .sns-googleplus, .sns-pocket, .sns-line, a.sns-link:hover {
    color : #6CC04A;
}

.leave-comment-title {
    border : 1px solid #6CC04A;
}

.entry-content h2 {
    position    : relative;
    padding     : 0.2em 0.5em;
    border-left : 8px solid #6CC04A;
}

.entry-content h3 {
	margin-top    : 5em !important;
    padding       : 0.5em;
    color         : #010101;
    background    : #6CC04A;
    border-bottom : solid 3px #6CC04A;
    font-size     : 20px;
    border-radius : 4px;
}

.entry-content h4 {
    margin-top    : 2em !important;
    color         : #259925;
    border-top    : none;
    border-bottom : dashed 2px #259925;
    font-size     : 20px;
}

.entry-content h5 {
    margin-top    : 2em !important;
    margin-bottom : none;
    padding       : 0.25em 0.5em;
    color         : #494949;
    background    : transparent;
    border-left   : solid 5px #6CC04A;
}

/* [:contents] */
.table-of-contents{font-size:16px;}

/* youtube貼り付け時にresponsiveにする */
.youtube {
    position    : relative;
    width       : 100%;
    padding-top : 56.25%;
}

.youtube iframe {
    position : absolute;
    top      : 0;
    right    : 0;
    width    : 100% !important;
    height   : 100% !important;
}

/* 背景色変更用のボタン */
.chng_bg_btn {
    position        : relative;
    display         : inline-block;
    padding         : 0.25em 0.5em;
    text-decoration : none;
    color           : #FFFFFF;
    background      : #6CC04A;/*背景色*/
    border-bottom   : solid 2px rgb(88, 156, 61);/*少し濃い目の色に*/
    border-radius   : 4px;/*角の丸み*/
    box-shadow      : inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight     : bold;
}

.chng_bg_btn:active {
    border-bottom : solid 2px #fd9535;
    box-shadow    : 0 0 2px rgba(0, 0, 0, 0.30);
}

/* カテゴリーボタンの文字リンク部分 */
.hatena-module-category > div.hatena-module-body > ul > li > a {
    color : black;
}

.entry-category-link, .archive-category-link {
    color : black !important;
}

.pager-next, .pager-prev {
    border        : solid 1px #6CC04A;
    border-radius : 4px;
    margin-right  : 1vw;
    padding       : 10px;
}

/* はみ出た部分をスクロールできるように変更 */
pre, code {
    max-height : 500px;
    white-space : pre !important;
    text-overflow : clip !important;
    overflow : scroll;
}

/* 修飾用 */
.marker-green {
    background: linear-gradient(transparent 70%, #A6D992 70%);
}
.marker-red {
    background: linear-gradient(transparent 70%, #FF9999 70%);
}

/* 各ポイント修飾div */
.div-info, .div-success, .div-warning, .div-error {
    position: relative;
    margin: 20px 0;
    padding: 10px;
    padding-left: 2em;
    border-radius: 3px 3px 3px 3px;
    font-size: 16px;
    font-weight: bold;
}

.div-info {
    color: #059;
    background-color: #BEF;
}
.div-success {
    color: #270;
    background-color: #DFF2BF;
}
.div-warning {
    color: #9F7000;
    background-color: #FEEFB3;
}
.div-error {
    color: #D8000C;
    background-color: #FFBABA;
}

.div-info::before, .div-success::before, .div-warning::before, .div-error::before {
    position: absolute;
    top: unset;
    left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    white-space: pre;
}
.div-info::before {
    content: "\f05a   ";    /* info-circle */
}
.div-success::before {
    content: "\f058   ";    /* check-circle*/
}
.div-warning::before {
    content: "\f06a   ";    /* exclamation-circle */
}
.div-error::before {
    content: "\f057   ";    /* times-circle */
}

.subscription-count-box {
    display: none !important;
}

/*************************************
 スマートフォン用 START
*************************************/
@media only screen and (max-width:991px) {
    /* nav#slide-menu, div.menu-trigger {
        background : #6CC04A;
    } */

    body {
        background  : #6CC04A;
        font-family : "Noto Sans JP", Helvetica, "メイリオ", Meiryo, sans-serif;
        font-size   : 16px;
    }
}
/*************************************
 スマートフォン用 END
*************************************/