@import url("https://blog.hatena.ne.jp/-/theme/17391345971624603155.css");

body {
    background  : #FFA500;
    font-family : "Noto Sans JP", Helvetica, "メイリオ", Meiryo, sans-serif;
    font-size   : 18px;
}

img {margin-top: 50px;}

blockquote, .hatena-asin-detail {background:#FDFAEC;}

pre.code {
    margin-bottom: 75px;
    background : #1c1c1c;
    font-size  : 16px;
    color      : white;
    border-radius: 4px;
}

pre.code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

pre.code::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

pre.code::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 5px;
}

pre.code::-webkit-scrollbar-corner {
  display: none;
}

.entry-content p {
    font-size: 17px;
}

/* PROバッチを非表示 */
i.badge-type-pro {display:none;}

#title {
    font-family : "Noto Sans JP", Helvetica, "メイリオ", Meiryo, sans-serif;
    font-size   : 250%;
}

#blog-description {
    font-size : 100%;
}

.entry-content h3, .categories a, .hatena-module-category .hatena-urllist li a, a.entry-see-more {
    background : #FFA500;
}

a, .leave-comment-title, .hatena-module-title, .hatena-module-title a, .sns-twitter, .sns-facebook, .sns-bookmark, a.sns-bookmark:visited, .sns-googleplus, .sns-pocket, .sns-line, a.sns-link:hover {
    color : #FFA500;
}

.leave-comment-title {
    border : 1px solid #FFA500;
}

.entry-content h2 {
    position    : relative;
    padding     : 0.2em 0.5em;
    border-left : 8px solid #FFA500;
}

.entry-content h3 {
	margin-top    : 3em !important;
    padding       : 0.5em;
    color         : #010101;
    background    : #f7dc6f ;
    border-bottom : solid 3px #f1c40f;
    font-size     : 20px;
}

.entry-content h4 {
    margin-top    : 2em !important;
    color         : #b7950b;
    border-top    : none;
    border-bottom : dashed 2px #b7950b;
    font-size     : 20px;
}

.entry-content h5 {
    margin-top    : 2em !important;
    margin-bottom : none;
    padding       : 0.25em 0.5em;
    color         : #494949;
    background    : transparent;
    border-left   : solid 5px #b7950b;
}

/* [:contents] */
.table-of-contents{font-size:16px;}

/* youtube貼り付け時にresponsiveにする */
.youtube {
    position    : relative;
    width       : 100%;
    padding-top : 56.25%;
}

.youtube iframe {
    position : absolute;
    top      : 0;
    right    : 0;
    width    : 100% !important;
    height   : 100% !important;
}

/* 背景色変更用のボタン */
.chng_bg_btn {
    position        : relative;
    display         : inline-block;
    padding         : 0.25em 0.5em;
    text-decoration : none;
    color           : #000000;
    background      : #f7dc6f;/*背景色*/
    border-bottom   : solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius   : 4px;/*角の丸み*/
    box-shadow      : inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight     : bold;
}

.chng_bg_btn:active {
    border-bottom : solid 2px #fd9535;
    box-shadow    : 0 0 2px rgba(0, 0, 0, 0.30);
}

/* カテゴリーボタンの文字リンク部分 */
.hatena-module-category > div.hatena-module-body > ul > li > a {
    color : black;
}

.entry-category-link, .archive-category-link {
    color : black !important;
}

.pager-next, .pager-prev {
    border        : solid 1px #FFA500;
    border-radius : 4px;
    margin-right  : 1vw;
    padding       : 10px;
}

pre, code {
    max-height : 500px;
    white-space : pre !important;
    text-overflow : clip !important;
    overflow : scroll;
}


/*************************************
 スマートフォン用 START
*************************************/
@media only screen and (max-width:991px) {
    /* nav#slide-menu, div.menu-trigger {
        background : #FFA500;
    } */

    body {
        background  : #FFA500;
        font-family : "Noto Sans JP", Helvetica, "メイリオ", Meiryo, sans-serif;
        font-size   : 16px;
    }
}
/*************************************
 スマートフォン用 END
*************************************/