/* <system section="theme" selected="10328749687238824541"> */
@import "http://hatenablog.com/theme/10328749687238824541.css";
/* </system> */

/* <system section="background" selected="undefined"> */

/* 見出し */
h3 {
		margin-top: 3em !important;
    padding: 0.5em; /*文字周りの余白*/
    color: #010101; /*文字色*/
    background: #f7dc6f ; /*背景色*/
    border-bottom: solid 3px #f1c40f; /*下線*/
}

h4 {
		margin-top: 2em !important;
    color: #b7950b; /*文字色*/
    border-bottom: dashed 2px #b7950b; /*線の種類（点線）2px 線色*/
}

h5 {
    padding: 0.25em 0.5em; /*上下 左右の余白*/
    color: #494949; /*文字色*/
    background: transparent; /*背景透明に*/
    border-left: solid 5px #b7950b; /*左線*/
}

/* タイトルの文字 */
#title a {
    visibility: hidden;
}

/* タイトル部分にある帯 */
#blog-title {
    visibility: hidden; /* 表示しない */
}

/* ブログの説明 */
#blog-description {
    visibility: hidden; /* 表示しない */
}

/* 全体のフォント */
body {
    font-family: Helvetica, "メイリオ", Meiryo, sans-serif;
    font-size: 18px;
}

/* サイドバー リンク内のフォント */
div.sidebar-link {
    font-size: 20px;
    font-family: Helvetica, "メイリオ", Meiryo, sans-serif;
}

/* [:contents]内のスタイル */
.table-of-contents{
    font-size: 16px;
}

/* サイドバー内のアイコン */
.hatena-module-title::before {
    content: "\f005"; /* アイコンを指定。FAはhttp://fontawesome.io/icons/を参考 */
    display: inline-block;
    font-family: blogicon;
    margin-right: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ページコンテンツの全体の合計幅(ヘッダ含む、フッタ除く) */
#container {
    width: 1200px;
    margin: 0 auto;
}

/* フッタの幅(containerとあわせるの難しい) */
#footer {
    width: 1200px;
    margin: 0 auto;
}

/* なぞ... */
#wrapper {
    width: 600px;
    float: left;
}

/* 記事部分の幅 */
#main {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}

/* サイドバーの幅 */
#box2{
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
}

/* youtube貼り付け時にresponsiveにする */
.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

/* 同上 */
.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

/* カテゴリをタグっぽく表示 */
.hatena-module-category .hatena-urllist li {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: #000000;
    background: #f7dc6f;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

/* カテゴリの文字色 */
.hatena-module-category .hatena-urllist li a {
    color: black;
    display: inline;
}

/* 以下グローバルメニュー */
#menu {
    position: relative;
    width: 100%;
    padding-left: 0px;
    height: 40px;
    background: #006835; /* グローバルメニュー背景色 */
}

.menu-inner{
    width: 100%;
    margin: 0 auto;
    height: 40px;
}

#menu li {
    list-style-type: none;
    float: left;
    height: 40px;
    text-align: center;
    width: 14.286% /* 100 / カテゴリの個数分 */
}

#menu li a {
    display: block;
    color: #ffffff; /*グローバルメニュー文字色*/
    font-size: 100%;
    text-decoration: none;
    line-height: 40px;
}

#menu li:hover a {
    color: #006835;
    font-weight: bold;
    background: #ffffff;
    transition: all .3s;
}

.menu-toggle{
    display: none;
} 

/*パソコン１カラム*/
@media screen and (max-width:968px){
    .menu-inner{
        width: 768px;
    }
}
/* 以上グローバルメニュー */

/* 背景色変更用のボタン */
.chng_bg_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000000;
    background: #f7dc6f;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.chng_bg_btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.hatena-asin-detail {
    background: #FDFAEC;
}

pre.code {
    color: white;
    background: #1c1c1c;
}

/* </system> */
