<!-- Font Awesomeを使用するために必要 -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="header-img"></div>

<!-- HDRイメージを背景画像で指定 -->
<style type="text/css">
    .header-img {
        background-image: url("https://cdn-ak2.f.st-hatena.com/images/fotolife/i/ibuquicallig/20170927/20170927163904_original.png") !important;
    }
</style>

<!-- グローバルナビ -->
<!-- span class="menu-toggle"><i class="blogicon-reorder lg"></i> MENU</span -->
<ul id='menu'>
	<div class="menu-inner">
		<li><a href='http://www.taneyats.com'><i class="fa fa-home" aria-hidden="true"></i> TOP</a></li>
		<li><a href='http://www.taneyats.com/archive/category/HDR%E5%86%99%E7%9C%9F'><i class="fa fa-photo" aria-hidden="true"></i> HDR画像</a></li>
		<li><a href='http://www.taneyats.com/archive/category/HowTo'><i class="fa fa-paint-brush" aria-hidden="true"></i> 画像編集</a></li>
		<li><a href='http://www.taneyats.com/archive/category/%E3%83%AC%E3%83%93%E3%83%A5%E3%83%BC'><font color="yellow"><i class="fa fa-star" aria-hidden="true"></i></font> レビュー</a></li>
		<li><a href='http://www.taneyats.com/archive/category/%E3%82%AB%E3%83%AA%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%83%BC'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> カリグラフィー</a></li>
		<li><a href='http://www.taneyats.com/archive/category/%E6%A9%9F%E6%A2%B0%E3%83%BBPC%E9%96%A2%E4%BF%82'><i class="fa fa-code" aria-hidden="true"></i> 機械(RasPiとか)</a></li>
		<li><a href='http://www.taneyats.com/otherpage'><i class="fa fa-folder" aria-hidden="true"></i> その他カテゴリ</a></li>
		<!--li><a href='url'><i class="fa fa-" aria-hidden="true"></i> タイトル</a></li-->
		<!-- FAはhttp://fontawesome.io/icons/を参考。fa-の後ろに記述 -->
	</div>
</ul>

<!-- javascript -->
<script type="text/javascript">
<!--

/*****************************************
  背景色を変える
  bool flg: trueの場合、背景を明るくする
            falseの場合、背景を暗くする
*****************************************/
function changeBgColor(flg) {
	
	//背景を暗くする
    if (!flg) {
        document.body.style.backgroundColor = '#111111'; //背景色
        document.body.style.color = '#FFFFFF';           //文字色(黒文字のままだと見えない)
    //背景を明るくする(元に戻す)
    } else {
        document.body.style.backgroundColor = '#FFFFFF'; //背景色
        document.body.style.color = '#454545';           //文字色(元の色に戻す)
    }
}

//-->
</script>